@model PropagendaMVC.Models.ServiceVM

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <h1>@Html.DisplayFor(model => model.Title)</h1> proposé par @Html.DisplayFor(model => model.Provider.Name) 
    <h2>@Html.DisplayFor(model => model.Servicetype.Label)</h2>
    <img src="/images/@Html.DisplayFor(model => model.Image)"/>
    <hr />
    <p>@Html.DisplayFor(model => model.Description)</p>
    <p>@Html.DisplayFor(model => model.Price)/heure</p>
    <p>@Html.DisplayFor(model => model.LocationArea) / @Html.DisplayFor(model => model.LocationAddress)</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col">
            @Html.ActionLink("FAIRE UNE DEMANDE", "Create", "ServiceReservations", new {  id = Model.Id  })
        </div>
    </div>
}


<div>
    @Html.ActionLink("Edit", "Edit", "Services", new {  id = Model.Id  }) |
    <a asp-action="Index">Services List</a>
    <br />
    <br />
    <button onclick="history.go(-1)">Back</button>
</div>
