@model IEnumerable<PropagendaMVC.Models.ServiceListVM>

@{
    ViewData["Title"] = "ServicesByUser";
}

<h1>Mes services</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Prix horaire
            </th>
            <th>
                Zone
            </th>
            <th>
                Adresse
            </th>
            <th>
                statut activité
            </th>
            <th>Provider</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Provider.Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<button onclick="history.go(-1)">Back</button>
