@model IEnumerable<PropagendaMVC.Models.ServiceVM>

@{
    ViewData["Title"] = "ServicesToApprove";
}

<h1>Services à approuver</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Prix
            </th>
            <th>
                Zone
            </th>
            <th>
                Adresse
            </th>
            <th>
                Type service
            </th>
            <th>
                Prestataire
            </th>
            <th>
                status activité
            </th>
            <th>
                Approuvé
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicetype.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new {  id=item.Id  }) |
                |
                @Html.ActionLink("Approuver", "ApproveService", new {  id=item.Id  })
                @Html.ActionLink("Détails", "Details", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>

<button onclick="history.go(-1)">Back</button>
