@model PropagendaMVC.Models.EventVM
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    var currentuserID = (User.Identity.IsAuthenticated)?((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value:"";
}



<div class="container-fluid">
    <div class="row">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
    </div>
    <div class="row">
        <img src="~/images/@Model.Image"/>
    </div>
    <div class="row">
        <div class="col-6"> 
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="col-6"> 
            <p>@Model.EventDate.ToString("dd MMM yyyy") </p>
            <p>@Html.DisplayFor(model => model.TicketPrice) €</p>
            <p>@Html.DisplayFor(model => model.VenueName) <br/>@Html.DisplayFor(model => model.VenueAddress)</p>
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    
    @if( ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value == currentuserID || User.IsInRole("Administrator") || User.IsInRole("Employee")){
    <div>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    
    </div>
    }

    <div>
        @if(User.IsInRole("Administrator") || User.IsInRole("Employee"))
        { 
            @Html.ActionLink("Approval", "ApproveEvent", new {id = Model.Id}) 
        }
    
    </div>

   

     @Html.ActionLink("Tickets", "Create", "TicketReservations", new {  id = Model.Id  }) 
}
else
{
    <a class="nav-link" asp-action="Login" asp-controller="Users">
        Tickets
    </a>
}

<button onclick="history.go(-1)">Back</button>
