@model IEnumerable<PropagendaMVC.Models.EventVM>

@{
    ViewData["Title"] = "EventsToApprove";
}

<h1>Events to approve</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Date événement
            </th>
            <th>
                Lieu
            </th>
            <th>
                Adresse
            </th>
            <th>
                Total Tickets
            </th>
            <th>
                Prix Ticket
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.EventDate.ToString("dd MMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Approve", "ApproveEvent", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<button onclick="history.go(-1)">Back</button>
