@model PropagendaMVC.Models.ProviderWithServicesVM;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    var currentuserID = (User.Identity.IsAuthenticated)?((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value:"";
}

<div class="container">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <p>@Html.DisplayFor(model => model.Bio)</p>
            <a href="@Html.DisplayFor(model => model.Link)">Link</a>
            <hr />

             @foreach (var item in Model.Services)
                {
                <!--First columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->

                            <h4 class="card-title">@item.Title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">@item.Description</p>
                            <p>
                                @Html.ActionLink("Voir plus", "Details", "Services",
                            routeValues: new { id = item.Id },
                            htmlAttributes: new { @class = "btn btn-default btn-lg" })
                            </p>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
                }


            @if (User.Identity.IsAuthenticated)
            {
    
                @if( ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value == Model.ApplicationUserId || User.IsInRole("Administrator") || User.IsInRole("Employee")){
                <div>
                    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) 
    
                </div>
                }
            }
        </div>
    </div>
    @if (User.IsInRole("Provider"))
    {
        <div class=row>
            <div class="col-md-6">
                @Html.ActionLink("Add service", "Create", "Services", new {  id = Model.Id  })
            </div>

        </div>
    }
    
</div>



@*<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>*@




<a asp-action="Index">Back to List</a>