@model PropagendaMVC.Models.UpdateProviderVM;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    var currentuserID = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value;
}

<h1>Details</h1>

<div>
    <h4>ViewProvider @currentuserID + @Html.DisplayFor(model => model.ApplicationUserId)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>

@if (User.Identity.IsAuthenticated)
{
    
    @if( ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value == Model.ApplicationUserId || User.IsInRole("Administrator") || User.IsInRole("Employee")){
    <div>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    
    </div>
    }
}


<a asp-action="Index">Back to List</a>