@model PropagendaMVC.Models.ProviderWithServicesVM;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    var currentuserID = (User.Identity.IsAuthenticated)?((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value:"";
}

<div class="container">
    <h1 >
                Fiche du prestataire
        </h1>
<div class="container-xxl">
    <div class="profil py-5">
        
        
        <div class="card2 card-profil" style="border-radius: 18px;">
    <div class="card-flex-stretch">
        <div class="card-img">
            <img style="width: 100%; height: 100%;" src="~/images/@Model.Image"/>
        </div>

        <div class="card-body" style="padding: 100px 78px;margin: 50px auto;">
            <div class="card-title" style="text-transform: uppercase;"> @Html.DisplayFor(model => model.Name)</div>
            <p class="lead mb-4" >@Html.DisplayFor(model => model.Bio)</p>

            <div class="m-t-3">
                <button class="btn btn-default btn-lg"><a style="color: #fff;text-decoration: none;" href="@Html.DisplayFor(model => model.Link)">Lien</a></button>
                 @if (User.Identity.IsAuthenticated)
            {
    
                @if( ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(x => x.Type == "uid").Value == Model.ApplicationUserId || User.IsInRole("Administrator") || User.IsInRole("Employee")){
                <div class="btn btn-default btn-lg">
                                        @Html.ActionLink("Modifier", "Edit", new {  id = Model.Id  },new { @class = "myLink"}) 
                </div>
                }
            }
            </div>
        </div>
    </div>
    </div>
</div>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <h1 style="margin-right: 25px;">
                Services
        </h1>
            @if (User.IsInRole("Provider"))
            {
                <div class="btn btn-default btn-lg">
                    @Html.ActionLink("Ajouter un service", "Create", "Services", new {  id = Model.Id  },new { @class = "myLink"})
                </div>

            }
        </div>
    <div class="row justify-content-md-center row-cols-1 row-cols-sm-2 row-cols-md-3 mt-5">
      
  
            @*<h1>@Html.DisplayFor(model => model.Name)</h1>
            <div class="row">
                <img src="~/images/@Model.Image"/>
            </div>
            <p>@Html.DisplayFor(model => model.Bio)</p>
            <a href="@Html.DisplayFor(model => model.Link)">Lien</a>
            <hr />*@

             @foreach (var item in Model.Services)
             {
                @if(item.IsActive && item.IsApproved)
                {
                    <!--First columnn-->
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->

                                <h4 class="card-title">@item.Title</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">@item.Description</p>
                                <p>
                                    @Html.ActionLink("Voir plus", "Details", "Services",
                                routeValues: new { id = item.Id },
                                htmlAttributes: new { @class = "btn btn-default btn-lg" })
                                </p>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--First columnn-->
                }
                
             }


           
       
    </div>
  
    
</div>



@*<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>*@


  <div class="py-3  text-center">
    <div class="col-lg-6 mx-auto">

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn_retour btn-primary btn-lg px-4 gap-3" onclick="history.go(-1)" style="background-color: #a4a9ae;">Retour</button>
        <button type="button" class="btn btn_retour btn-primary btn-lg px-4 gap-3" style="background-color: #a4a9ae;"><a style="color: #fff;text-decoration: none;" asp-action="Index">Vers les prestataires</a></button>
      </div>
    </div>
    </div>
