@model IEnumerable<PropagendaMVC.Models.ProviderWithServicesVM>

@{
    ViewData["Title"] = "Index";
}
@*
<h1>Prestataires</h1>

@if (User.Identity.IsAuthenticated)
{
   <p>
        <a asp-action="Create">Devenir prestataire</a>
    </p> 
}*@
<div class="row justify-content-between">

    <h1 style="width:50%">Prestataires</h1>

@if (User.Identity.IsAuthenticated)
{
    <button style="width: max-content;" class="btn btn-default btn-lg" ><a style="color: #fff;text-decoration: none;" asp-action="Create">Devenir prestataire</a></button>
 
}
</div>


@*@foreach (var item in Model)
{
    if (item.IsActive)
    {
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Bio)</p>
             @Html.ActionLink("Discover", "Details", new {  id=item.Id  })
          </div>
        </div>
    }
    
}*@

<div class="album py-5">
    <div class="container">

      <div class="row justify-content-md-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var item in Model)
        {
            if (item.IsActive && item.IsApproved && (item.Services.Count() > 0))
            {
                    <!--First columnn-->
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->

                                <h4 class="card-title">@item.Name</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">@item.Bio</p>
                                <p>
                                    @Html.ActionLink("Voir plus", "Details", "Providers",
                                    routeValues: new { id = item.Id },
                                    htmlAttributes: new { @class = "btn btn-default btn-lg" })
                                </p>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--First columnn-->

            }
        }
      </div>
    </div>
     <div class="py-3  text-center">
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn_retour btn-primary btn-lg px-4 gap-3" onclick="history.go(-1)" style="background-color: #a4a9ae;">Retour</button>
      </div>
    </div>
    </div>


  </div>