@model IEnumerable<PropagendaMVC.Models.ProviderVM>

@{
    ViewData["Title"] = "ProvidersByUser";
}

<h1>Mes prestataires</h1>

<p>
    <a asp-action="Create">Ajouter un prestataire</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                Lien
            </th>
            <th>
                Status Actif
            </th>
            <th>
                Approuvé
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id  }) 
            </td>
        </tr>
}
    </tbody>
</table>

<button onclick="history.go(-1)">Back</button>
