@model IEnumerable<PropagendaMVC.Models.ProviderVM>

@{
    ViewData["Title"] = "ProviderToApprove";
}

<h1>Prestataires à approuver</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               Nom
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                Lien
            </th>
            <th>
                Approuvé
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Approuver", "EditApproval", new { id = item.Id }) |
            </td>
        </tr>
}
    </tbody>
</table>

<button onclick="history.go(-1)">Back</button>
