@model PropagendaMVC.Models.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!--Mask-->
<div class="view header hm-black-strong">
  <div class="full-bg-img flex-center">
    <ul>
      <li>
        <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s"> Propagenda </h1></li>
      <li>
        <p class="wow fadeInDown"> Booking & Events</p>
      </li>
      <li>
                @if (!User.Identity.IsAuthenticated) 
                {
                    <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.2s" rel="nofollow"> Register </a>
                }
            </li>
    </ul>
  </div>
</div>
<!--/.Mask-->



<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bienvenue sur Propagenda !</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Notre application est la solution idéale pour vos besoins d'organisation d'événements.
        Grâce à notre plateforme, vous pouvez facilement trouver des prestataires de service qualifiés pour répondre à vos besoins spécifiques.
        Que vous cherchiez un musicien, un groupe, un circassien ou un clown, notre réseau de prestataires expérimentés peut vous aider.</p>
    </div>
</div>

@*<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>*@

<section id="Services">
        <div class="row justify-content-center">
            <h2>Services</h2>

            @foreach(var singleEvent in Model.Services)
            {
                <!--First columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="./images/@singleEvent.Image" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                        
                            <h4 class="card-title">@singleEvent.Title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">@singleEvent.Description</p>
                            <p> <button type="button" class="btn btn-default btn-lg"> Voir plus </button> </p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
            }
    </div>

</section>

<section id="Providers">
        <div class="row justify-content-center">
            <h2>Providers</h2>

            @foreach(var singleEvent in Model.Providers)
            {
                <!--First columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                        
                            <h4 class="card-title">@singleEvent.Name</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">@singleEvent.Bio</p>
                            <p> <button type="button" class="btn btn-default btn-lg"> Voir plus </button> </p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
            }
    </div>

</section>

<!--Section: Best features-->
<section id="Events">
        <div class="row justify-content-center">
            <h2>Events</h2>

            @foreach(var singleEvent in Model.Events)
            {
                <!--First columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeIn">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="./images/@singleEvent.Image" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                    
                            <h4 class="card-title">@singleEvent.Title</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">@singleEvent.Description</p>
                            <p> <button type="button" class="btn btn-default btn-lg"> Voir plus </button> </p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
            }
    </div>

</section>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">N'attendez plus pour rejoindre notre communauté dynamique, et profitez de tous les avantages qu'offre notre application. Inscrivez-vous dès maintenant et commencez à booker vos événements en toute simplicité!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">S'inscrire</button>
      </div>
    </div>
</div>
