@model PropagendaMVC.Models.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!--Mask-->
<div class="view header hm-black-strong">
  <div class="full-bg-img flex-center">
    <ul>
      <li>
        <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s"> Propagenda </h1></li>
      <li>
        <p class="wow fadeInDown"> Booking & Evénements</p>
      </li>
      <li>
                @if (!User.Identity.IsAuthenticated) 
                {
                    <a  class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.2s"  asp-action="Register" asp-controller="Users"> S'enregistrer </a>
                }
            </li>
    </ul>
  </div>
</div>
<!--/.Mask-->



<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bienvenue sur Propagenda !</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Notre application est la solution idéale pour vos besoins d'organisation d'événements.
        Grâce à notre plateforme, vous pouvez facilement trouver des prestataires de service qualifiés pour répondre à vos besoins spécifiques.
        Que vous cherchiez un musicien, un groupe, un circassien ou un clown, notre réseau de prestataires expérimentés peut vous aider.</p>
    </div>
</div>

@*<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>*@

<section id="Services">
        <div class="row justify-content-center">
            <h2>Services</h2>

            @for(int i = 0; i < Model.Services.Count(); i++)
            {
                @if(Model.Services[i].IsActive && Model.Services[i].IsApproved && Model.Services[i].IsPromoted)
                {
                    <!--First columnn-->
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="./images/@Model.Services[i].Image" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                        
                                <h4 class="card-title">@Model.Services[i].Title</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">@Model.Services[i].Description</p>
                            <p>
                                @Html.ActionLink("Voir plus", "Details", "Services",
                            routeValues: new { id = Model.Services[i].Id },
                            htmlAttributes: new { @class = "btn btn-default btn-lg" })
                            </p>
                 
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--First columnn-->
                }   
            }
    </div>

</section>

<section id="Providers">
        <div class="row justify-content-center">
            <h2>Prestataires</h2>

           @for(int i = 0; i < Model.Providers.Count(); i++)
            {
                @if(Model.Providers[i].IsActive && Model.Providers[i].IsApproved && Model.Providers[i].IsPromoted && (Model.Providers[i].Services.Count() > 0))
                {
                    <!--First columnn-->
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="./images/@Model.Providers[i].Image" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                        
                                <h4 class="card-title">@Model.Providers[i].Name</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">@Model.Providers[i].Bio</p>
                                <p>
                                @Html.ActionLink("Voir plus", "Details", "Providers",
                            routeValues: new { id = Model.Providers[i].Id },
                            htmlAttributes: new { @class = "btn btn-default btn-lg" })
                            </p>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--First columnn-->
                }
            }
    </div>

</section>

<!--Section: Best features-->
<section id="Events">
        <div class="row justify-content-center">
            <h2>Événements</h2>

            @for(int i = 0; i < Model.Events.Count(); i++)
            {
                @if(Model.Events[i].IsActive && Model.Events[i].IsApproved && Model.Events[i].IsPromoted)
                {
                   <!--First columnn-->
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="./images/@Model.Events[i].Image" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                    
                                <h4 class="card-title">@Model.Events[i].Title</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">@Model.Events[i].EventDate.ToString("dd MMM yyyy")</p>
                                <p class="card-text">@Model.Events[i].VenueName</p>
                                <p class="card-text">@Model.Events[i].Description</p>
                            <p>
                                @Html.ActionLink("Voir plus", "Details", "Events",
                            routeValues: new { id = Model.Events[i].Id },
                            htmlAttributes: new { @class = "btn btn-default btn-lg" })
                            </p>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--First columnn--> 
                }
            }
    </div>

</section>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">N'attendez plus pour rejoindre notre communauté dynamique, et profitez de tous les avantages qu'offre notre application. Inscrivez-vous dès maintenant et commencez à booker vos événements en toute simplicité!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="btn btn-primary btn-lg px-4 gap-3" asp-action="Register" asp-controller="Users">S'inscrire</a>
      </div>
    </div>
</div>
